@model List<UserViewModel>

<ul>
    <table>
        <tr>
            <th> <b>Ad</b></th>
            <th> <b>Soyad</b></th>
            <th> <b>Email</b></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Name</th>
                <th>@item.Surname</th>
                <th> @item.Email </th>
            </tr>
        }
    </table>

</ul>
